@charset "UTF-8";
 
    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    body , html {
        background-color: lightgray;
    }

    header {
        background-color: gray;
    }
    i#burguer {
        background-color: rgb(37, 36, 36);
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    i#burguer:hover {
        background-color: white;
        color: black;
    }

    header > h1 {
        padding: 10px;
        text-align: center;
    }

    menu {
        display: none;
    }

    menu > ul {
        list-style-type: none;
    }

    menu > ul > li >  a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: rgba(87, 87, 87);
        color: white;
        border-top: 2px solid rgb(10, 19, 37);
    }

    menu> ul >li a:hover {
        background-color: rgb(199, 194, 194);
        color: black;
    }

    main {
        width: 90vw;
        background-color: white;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    article > h2 {
        padding-bottom: 20px;
    }

    article > p {
        text-align: justify;
        margin-bottom: 10px;
        text-indent: 20px;
    }