@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
   font-family: 'Android';
   src: url("../fontes/idroid.otf") format('opentype');
   font-weight: normal;
}
:root {
   --cor0: #13E6F2;
   --cor1: #14B2FC;
   --cor2: #1D70E6;
   --cor3: #1438FC;
   --cor4: #2D13F2;
   --cor5: #1d1ace93;

   --font-padrao: Verdana,Helvetica, Sans-serif;
   --font-destaque: 'Bebas Neue', cursive;
   --font-android: "Android" , cursive;
} 
*{
   margin: 0px;
   padding: 0px;
}

main    p {
      margin: 15px 0px ;
      text-align: justify;
      text-indent: 30px;
      font-size: 1em;
      line-height: 30px;
}

body { 
   background-color: var(--cor0);
   background-size: 100%;
}
a.externo::after {
   content: '\00A0\1F517';
}
main strong {
   color: var(--cor4);
   font-weight: bolder;  
   padding: 2px 0px;
}
main a {
   background-color: var(--cor2);
   font-weight: bolder;
   text-decoration: none;
   color: var(--cor4);
   padding: 2px 4px;
}
main a:hover {
   text-decoration: underline;
   color: rgba(0, 60, 255, 0.486);
}
header{
   background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
   min-height: 150px;
   text-align: center;
   padding-top: 40px;
   text-shadow: 9px -5px 8px black;
}
header > p {
   color: white;
   font-family: var(--font-padrao);
   font-size: 1,2em;
   max-width: 600px;
   padding-right :10px;
   padding-left:10px;
   margin: auto;
   text-shadow:  9px -5px 8px black;
}
header > h1 {
   color: white;
   font-family: var(--font-destaque);
   margin-top: 30px;
   font-size: 3em;
   margin-bottom: 20px;
   margin: auto;
   max-width: 500px;
}
nav {
   background-color: var(--cor5);
   padding: 10px;
   box-shadow:-1px 5px 6px 0px rgba(0, 0, 0, 0.473);;
}
nav > a {
   color: white;
   padding: 10px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 13px;
   transition-duration: 0,8s;
}
nav > a:hover {
   background-color: var(--cor3);
   color: var(--cor5);
  
}
main {
   background-color: white;
   min-width: 300px;
   max-width: 1000px;
   margin: auto;
   margin-bottom: 30px;
   padding: 20px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.575);
}
main img {
   width: 100%;
}
main img.pequena {
   max-width: 350px;
   display: block;
   margin: auto;
}

 main h1 {
   color: var(--cor5);
   font-family: var(--font-android);
 }
 main h2 {
   font-family: var(--font-android);
   color: var(--cor4);
   font-size: 1.4em;
   background-image: linear-gradient(to right, var(--cor1), transparent );
   text-indent: 8px;
 }
 aside{
   background-color: var(--cor1);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0px 3px 20px 7px rgba(0, 0, 0, 0.349);
 }
 aside >ul {
   list-style-position: inside;
   columns: 2;
   list-style-type: '\2714\00A0\00A0';
 }
 aside > h3 {
   background-color: var(--cor4);
   margin: -10px -10px 0px -10px ;
   border-radius: 10px 10px 0px 0px;
   color: white;
   text-indent: 10px;
   font-size: 1.3em;
   padding: 10px;
 }
 footer{
   background-color: var(--cor5);
   color: white;
   text-align: center;
   font-size: 0.8em;
   padding: 6px;
 }
 footer a {
   color: white;
   font-weight: bolder;
   text-decoration: none;
 }

 footer a:hover {
   text-decoration: underline;
   color: var(--cor1);
 }